body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f1f1f1, #e6f0ff);
  color: #333;
}

.container {
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 30px 0;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.resume-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: white;
  color: #007bff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-btn:hover {
  background: #007bff;
  color: white;
}

section {
  background-color: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
  margin-bottom: 15px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-grid span {
  background-color: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(135deg,#232f3e);
  color: #ddd;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  margin-top: 40px;
  font-size: 15px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
